.header {
    background-color: #111;
    padding: 0 24px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px
}
.header-titulo {
    color: #ccc;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap; /*Evita que o texto se quebre*/
}
.header-titulo strong{
    color: lime
}
nav {
    display: flex;
    gap: 4px;
    flex-wrap: wrap; /*Permite que os itens quebrem para a próxima linha se necessário*/
}
.nav-link {
    color: #aaa;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 6px; /*verificar*/
    font-size: 0.85rem;
    transition: background 0.2s, color 0.2s;
}
.nav-link:hover {
    color: #fff;
    background: rgba(255,255, 255, 0.08);
}
.nav-link.ativo {
    color: lime;
    background: rgba(0, 255, 0, 0.1);
}
/*
Pensando em responsividade, será utilizado media query para ajustar o layout do header em telas menores. 
*/
@media (max-width: 600px) {
    .header {
        height: auto;
        flex-direction: column;
        padding: 12px 16px;
    }
    .header-titulo {
        font-size: 1.5rem; 
    }
}